<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TO-DO list Application</title>
    <link rel="stylesheet" href="static\style.css">
</head>
<body>
    <h1>To-Do List</h1>

    <form action="{{ url_for('add_task') }}" method="POST">
        <input type="text" name="task_name" placeholder="Task name">
        <button type="submit">Add</button>
    </form>

    {% if tasks %}
    <ul>
        {% for task in tasks %}
        <li>
            {{ task.name }}
            <form action="{{ url_for('edit_task', task_id=task.id) }}" method="POST">
                <input type="text" name="new_task_name" placeholder="New task name">
                <button type="submit">Edit</button>
            </form>
            <form action="{{ url_for('remove_task', task_id=task.id) }}" method="POST">
                <button type="submit">Remove</button>
            </form>
        </li>
        {% endfor %}
    </ul>
    {% else %}
</body>
</html>