<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TO-DO list Application</title>
    <link rel="stylesheet" href="static\style.css">
</head>
<body>
    <h1>To-Do list</h1>
    <ul>
        {% for task in tasks %}
        <li>{{ task }}</li>
        {% endfor %}
    </ul>
    <rom method="POST" action="/add_task">
        <input type="text" name="task" required>
        <button type="submit">Add Task</button>
    </rom>
</body>
</html>